* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

#main {
    text-align: center;
}

#header {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
	justify-content: space-around;
	position: fixed;
	top: 0px;
	background-color: white;
}

#header-components {
    display: flex;
    align-items: center;
}

#header-img {
    height: 75px;
}

#header-name {
    font-family: 'Pacifico', 'Helvetica';
    font-size: xx-large;
	margin-left: 35px;
	text-decoration: none;
	color: black;
}

#nav-bar {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: black;
    margin-left: 35px;
    font-family: 'Ubuntu', 'Helvetica';
    font-size: large;
    font-weight: 500;
}

#contact {
	margin-top: 200px;
}

#heading {
	display: block;
	margin: 20px auto;
	font-family: 'Lobster two', 'Helvetica';
	font-size: xx-large;
	font-weight: 300;
	font-style: italic;
}

#form {
	display: block;
	width: 100%;
	margin: 40px auto;
}

#email {
	display: block;
	height: 30px;
	max-width: 250px;
	width: 100%;
	margin: 0px auto;
	padding: 8px;
	font-family: 'Vollkorn', 'Helvetica';
}

#submit {
	display: block;
	margin: 15px auto;
	height: 35px;
	max-width: 125px;
	width: 100%;
	font-family: 'Vollkorn', 'Helvetica';
	font-weight: 600;
	font-size: 16px;
}

.features-link {
	display: flex;
	justify-content: start;
	align-items: center;
	margin: 0px 100px 35px;
}

.icon {
	height: 50px;
}

.desc {
	margin-left: 75px;
}
.features-heading {
	text-align: left;
	font-family: 'Ubuntu';
	font-weight: 600;
	font-size: x-large;
	padding: 15px 0px;
}
.features-text {
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: large;
	line-height: 125%;
}
iframe {
	margin-top: 25px;
}
#footer {
	background-color: #d8d8d8;
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	height: 80px;
	margin-top: 50px;
	padding-right: 35px;
	text-align: right;
}
#footer-items a {
	text-decoration: none;
	color: black;
	padding: 0px 10px;
	font-family: 'Ubuntu', 'Helvetica';
	font-weight: 500;


}
span {
	padding-bottom: 10px;
	font-family: 'Lato';
	font-weight: 500;
}

@media (max-width: 600px){
	#main {
	}
	#header {
		width: 100vw;
		margin: 0px;
		flex-direction: column;
	}
	#header-components {
		width: 100%;
		justify-content: center;
	}
	#header-img {
		height: 55px;
	}
	#header-name {
		margin: 0px;
		padding-left: 4px;
		font-size: 28px;
	}
	#nav-bar {
		width: 100%;
		justify-content: center;
	}
	.nav-link {
		margin: auto 0px;
		padding: 5px 10px;
	}
	#form {
		margin: 40px auto;
	}
	#email {
		margin: 0px auto;
	}
	
	#submit {
		margin: 15px auto;
	}
	#container {
		margin: 0px;
	}
	.features-link {
		margin-left: 0px;
		margin-right: 0px;
		padding: 4px;
		justify-content: start;
	}
	.icon {
		height: 100px;
		width: 100px;
		padding: 24px;
		object-fit: contain;
	}
	.desc {
		margin-left: 0px;
	}
	.features-text {
		padding: 4px;
	}
	#video {
		width: 100vw;
		padding: 4px;
	}
	#footer {
		padding-right: 10px;
	}
	#footer-items a {
		padding-right: 0px;
	}
}
